*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}



.navbar{
	background: #fbc00e;
}

.navbar-brand{
	font-size: 2rem!important;
	font-family: 'Merienda One', cursive;
}

.nav-item .nav-link{
	font-size: 1.2rem;
	margin: 0 8px;
	font-weight: 500;
}

.icons .fa{
	color: #000;
	margin: 0 10px;
}

.icons .fa-facebook:hover{
	color: royalblue;
}

.icons .fa-instagram:hover{
	color: #e83e8c;
}

.icons .fa-phone:hover{
	color: royalblue;
}


/*********  SHOWCASE  **********/


#showcase{
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)) ,url('ba.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 90vh;
}

.box-showcase{
	width: 400px;
	height: 200px;
	background: #fff;
	opacity: .8;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content-showcase{
	text-align: center;
	top: 20%;
	position: relative;
}

.content-showcase h3{ 
	color: #000;
	font-size: 2rem;
	font-weight: 400;
}

.content-showcase h1{
	color: #fbc00e;
	font-size: 3.5rem;
	font-weight: 500;
	font-family: 'Permanent Marker', cursive;
}



/*About*/

.box-about{
	background: #fbc00e;
	padding: 140px 90px;
	width: 100%;
	height: 100vh;
}

.content-about h2{
	color: #fff;
	font-family: 'Merienda One', cursive;
	font-size: 2.5rem;
	margin-bottom: 15px;
}

.content-about p{
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	line-height: 30px;
}


.img{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('kr.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;

}



.imgspec{
	background-image: url('ch.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
}

.box-special{
	background: #fff;
	padding: 140px 90px;
	width: 100%;
	height: 100vh;
}

.menu-speicial h2{
	color: #fbc00e;
	font-family: 'Merienda One', cursive;
	font-size: 2.5rem;
	margin-bottom: 40px;
}


.menu-speicial p{
font-family: 'Roboto', sans-serif
}


/*Footer*/


.footerbg{
	background: #fbc00e;
	height: 350px;
}

.footer-links{
	list-style: none;
	align-items: center;
	text-align: center;
	padding: 70px;
}

.footer-links li{
	margin: 6px 0;
	color: #000;
	font-size: 18px;
}

.footer-links li a{
	color: #000;
}
.footer-links li a:hover{
	text-decoration: none;
	color: #fff;
}

.footertimig{
	background:#fbc00e;
	height: 350px;
}

.gootertiming{
	list-style: none;
	align-items: center;
	text-align: center;
	padding: 70px;	
}

.footertimig h2{
	top: 10%;
	position: relative;
	color: #fff;
	font-family: 'Merienda One', cursive;
	font-size: 2.5rem;
}

.footerbg h2{
	top: 10%;
	position: relative;
	color: #fff;
	font-family: 'Merienda One', cursive;
	font-size: 2.5rem;
}

.copyfoot{
	background-color: #fff;
}


/******  CONATCTPAGE    ******/

.bgimg{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('banner.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

.contacthead{
	color: #fbc00e;
	font-family: 'Merienda One', cursive;
	font-size: 2.5rem;
	margin-bottom: 30px;
}

.contactform{
	padding-top: 80px;
	width: 100%;
	height: 100vh;
	text-align: center;
}

.contactform input{
	width: 550px;
	height: 40px;
	padding: 20px;
	margin: 2px 0;

}

.contactform input:focus{
	outline: 4px solid #fbc00e;
}

.contactform button{
	margin-top: 20px;
	width: 550px;
	height: 30px;
	background-color: #ddd;
	outline: none;
	border: none;
	display: inline-block;
	font-size: 1.1rem;
}

.contactform button:hover{
	box-shadow: 2px 2px 12px #000;
}



/****  MENU SECTION ******/

.menuahead h1{
	color: #fbc00e;
	font-family: 'Merienda One', cursive;
	font-size: 3.5rem;
}


.menua{
	width: 100%;
	height: 100vh;
	padding: 40px 100px;
	background-color: #fbc00e;
}

.menua h2{
	color: #fff;
	font-family: 'Merienda One', cursive;
	font-size: 2.5rem;
	margin-bottom: 70px;
}
.menua h5{
	margin-bottom: 40px;
}
.menua span{
	float: right;
	font-size: 1.3rem;
	font-weight: 400;
}


/*MENUB*/

.menub{
	width: 100%;
	height: 100vh;
	padding: 40px 100px;
	background-color: #e1e1e1;
}

.menub h2{
	color: #fbc00e;
	font-family: 'Merienda One', cursive;
	font-size: 2.5rem;
	margin-bottom: 70px;
}
.menub h5{
	margin-bottom: 40px;
}
.menub span{
	float: right;
	font-size: 1.3rem;
	font-weight: 400;
}


/*MENUC*/

.menuc{
	width: 100%;
	height: 100vh;
	padding: 40px 100px;
	background-color: #e1e1e1;
}

.menuc h2{
	color: #fbc00e;
	font-family: 'Merienda One', cursive;
	font-size: 2.5rem;
	margin-bottom: 70px;
}
.menuc h5{
	margin-bottom: 40px;
}
.menuc span{
	float: right;
	font-size: 1.3rem;
	font-weight: 400;

}

/*Menu D*/

.menud{
	width: 100%;
	height: 100vh;
	padding: 40px 100px;
	background-color: #fbc00e;
}

.menud h2{
	color: #fff;
	font-family: 'Merienda One', cursive;
	font-size: 2.5rem;
	margin-bottom: 70px;
}
.menud h5{
	margin-bottom: 40px;
}
.menud span{
	float: right;
	font-size: 1.3rem;
	font-weight: 400;

}




/*MEDIA QUERY*/



@media screen and (max-width: 480px){
	.contacthead h1{
	color: #fbc00e;
	font-family: 'Merienda One', cursive;
	font-size: 2.1rem;
	margin-bottom: 30px;
	}

	.contactform{
	padding-top: 80px;
	width: 100%;
	height: 100vh;
	text-align: center;
	}

	.contactform input{
		width: 250px;
		height: 30px;
		padding: 15px;
		margin: 2px 0;

	}

	.contactform input:focus{
		outline: 2px solid #fbc00e;
	}

	.contactform button{
		margin-top: 20px;
		width: 250px;
		height: 30px;
		background-color: #ddd;
		outline: none;
		border: none;
		display: inline-block;
		font-size: 1rem;
	}

	.contactform button:hover{
		box-shadow: 2px 2px 12px #000;
	}


		/*SHOWCASE CONTENT*/
		.box-showcase{
	width: 350px;
	height: 200px;
	background: #fff;
	opacity: .8;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	top: 60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	}

	.content-showcase{
		text-align: center;
		top: 20%;
		position: relative;
	}

	.content-showcase h3{ 
		color: #000;
		font-size: 1.8rem;
		font-weight: 400;
	}

	.content-showcase h1{
		color: #fbc00e;
		font-size: 3.3rem;
		font-weight: 500;
		font-family: 'Permanent Marker', cursive;
	}
}